<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style>
            body{
                background-color: lightgray;
                font-family: "sans-serif";
                font-size: 20px;
            }
            #title{
                margin:0px;
                font-size: 70px;
            }
            #box{
                margin-right:auto;
            }
            #title{
                margin-left:auto;
            }
            #report{
                float:left;
                font-size: 30px;
                border-width: 1px;
                border-color: black;
            }
            .item{
                width:200px;
                text-align: center;
            }
            .report_img{
                margin-left: 200px;
            }
            #point{
              font-size: 16px;
              float:left;
              width: 130px;
              height: 50px;
            }
 </style>
    </head>
    <body>

        <div>
          <p id="title">신고 보고서</p>

          <input id="point" type="button" name="btn" onclick="javascript:alert('포인트를 지급했습니다!');" value="포인트 지급버튼" / />
        </div>
        <br/>
        <br/>
        <div id="report">
            <table border="5">
                <tr>
                    <td class="item">신고 ID</td>
                     <td><%= name %></td>
                </tr>
                <tr>
                    <td class="item">신고 날짜</td>
                    <td><%= date %></td>
                </tr>
                <tr>
                    <td class="item">신고 종류</td>
                    <td>간편 신고</td>
                </tr>
                <tr>
                    <td class="item">URL</td>
                    <td><%= URL %></td>
                </tr>
                <tr>
                    <td class="item">추천인 코드</td>
                    <td>djekwovnwk</td>
                </tr>
                <tr>
                    <td class="item">신고 내용</td>
                    <td><%= content %></td>
                </tr>
                <tr>
                    <td class="item">첨부 이미지</td>
                    <td>

                        <img src="/imgs"/ width="400" height="400">
                      </td>
                </tr>
            </table>
        </div>
    </body>
</html>
